@font-face {
	font-family: "regular";
	src: url("/fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
	font-family: "bold";
	src: url("/fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
	font-family: "light";
	src: url("/fonts/SFPRODISPLAYLIGHTITALIC.OTF");
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "regular";
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #faf6f1;
}

a {
	color: inherit;
	text-decoration: none;
}
