.container {
	max-width: 750px;
	height: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left {
	font-family: "bold";
	font-size: 30px;
	order: 1;
}

.right {
	order: 2;
}
