.container {
	max-width: 750px;
	width: 100%;
	margin: 1rem;
}

.center {
	display: flex;
	justify-content: center;
}

.about {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.music {
	margin-top: 3rem;
}

.musicContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
}

.musicImg {
	border-radius: 25px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.musicText {
	margin-right: 1.5rem;
}
