.container {
	max-width: 750px;
	width: 100%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
}

.about {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2.5rem;
}

.music {
	margin-top: 5rem;
}

.musicContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
	height: 150px;
	max-height: 150px;
}

.musicImg {
	border-radius: 25px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
	margin-left: 2.5rem;
}

.musicText {
	margin-right: 2.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
