<div class="max-w-screen-md w-full justify-self-center">
	<main class="m-6">
		<div class="flex justify-center">
			<div class="avatar mr-4">
				<div class="w-32 sm:w-48 rounded-xl drop-shadow-lg">
					<img src="/avatar.JPG" />
				</div>
			</div>
			<div class="prose ml-4">
				<h1>Mattia Gisiger</h1>
				<ul>
					<li>🏑 Unihockey</li>
					<li>🏃 Fitness</li>
					<li>👨‍💻 Coding</li>
				</ul>
			</div>
		</div>
		<div class="flex justify-center mt-8">
			<div class="btn btn-ghost cursor-pointer mr-2">
				<img
					src="/github.svg"
					alt="GitHub Icon"
					class="w-8 h-8"
				/>
			</div>
			<div class="btn btn-ghost cursor-pointer ml-2">
				<img
					src="/strava.svg"
					alt="Strava Icon"
					class="w-8 h-8"
				/>
			</div>
		</div>
		<router-outlet />
	</main>
</div>
